{% extends 'back_office/backoffice_base.html.twig' %}


{% block body %}

	<div class="container mt-2">
		<div class="example-wrapper">
			<h1 class="text-center">
				Add a new thematic
			</h1>
			<div class="mt-4 row d-flex justify-content-center">
				<div class="col-4">
                {{form_start(form)}}
                {{form_end(form)}}
                </div>
			</div>
		</div>
	</div>
{% endblock %}
