{% extends 'back_office/backoffice_base.html.twig' %}

{% block body %}
  {% for message in app.flashes('success') %}
        <div class="alert alert-success">
          {{ message }}
        </div>
  {% endfor %}
<h1>Thematics =</h1>

<ul class="list-group">
  {% for thematic in thematics %}
    <li class="list-group-item ">
      {{thematic.name}}
      <a href="{{path("backoffice_thematics_edit", {"slug": thematic.slug})}}"><button>Edit</button></a>
      <a href="{{path("backoffice_thematics_delete", {"slug": thematic.slug})}}"><button>Delete</button></a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
