{% extends 'base.html.twig' %}

{% block title %}Route Page
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="jumbotron">
			<h1 class="text-center display-4">Are you lost ?</h1>
			<p class="lead text-center">Welcome to the back office of the oldflix app. You can use this back-office :
				<ul class="lead">
					<li>Either to make api request,</li>
					<li>or access to the back-office of the app.</li>
				</ul>
			</p>
		</div>
	</div>
	<div class="container mt-2">
		<div class="row">
			<div class="col-9">
				<h2 class="text-center">Oldix API</h2>
				<p class="text-center">
					You can use the API with the following endpoints</p>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Method</th>
							<th scope="col">Route</th>
							<th scope="col">Description</th>
							<th scope="col">Example link (TODO: Modifier les liens)</th>                        
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>GET</td>
							<td>/api/movies/research</td>
							<td>GET movies with a research query</td>
                            <td><a href="/api/movies/research?q=Freaks">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/movies/random</td>
							<td>GET a random movie</td>
                            <td><a href="/api/movies/random">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/movies/{slug}</td>
							<td>GET details about a movie</td>
                            <td><a href="/api/movies/{slug}">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/categories</td>
							<td>GET all categories</td>
                            <td><a href="/api/categories">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/categories/{slug}</td>
							<td>GET all movies related to a category</td>
                            <td><a href="/api/categories/{slug}">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/categories/{slug}/movies/preview</td>
							<td>GET 10 movies related to a category</td>
                            <td><a href="/api/categories/{slug}/movies/preview">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/thematics</td>
							<td>GET all thematics</td>
                            <td><a href="/api/thematics">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/thematics/{slug}</td>
							<td>GET all movies related to a thematic</td>
                            <td><a href="/api/thematics/{slug}">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/languages</td>
							<td>GET languages</td>
                            <td><a href="/api/languages">Example link</a></td>
						</tr>
						<tr>
							<td>GET</td>
							<td>/api/languages/{slug}</td>
							<td>GET all movies related to a language</td>
                            <td><a href="/api/languages/{slug}">Example link</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-3 d-flex flex-column justify-content-center">
				<div class="row mb-5 d-flex flex-column align-items-center">
					<h2>Oldix Backoffice</h2>
					<p class="text-center">You can access to the oldix backoffice</p>
					<a href="#" class="d-block btn btn-dark rounded">Access to the Backoffice</a>
				</div>
				<div class="row mt-5 d-flex flex-column align-items-center">
					<h2>Oldix Website</h2>
					<p class="text-center">
						You can access to the official website of Oldix
					</p>
					<a href="#" class="d-block btn btn-dark rounded">Access to the Website</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
