{% extends 'back_office/backoffice_base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center">
			Who are we ?
		</h1>
	</div>
	<div class="container">
		<h3 class="mt-5 mb-3 text-center">Back-end</h3>
		<div class="row text-center">
			<div class="col">
				<h4>
					Corentin WAUCAMPT
				</h4>
				<p>
					Github : Corentin-W</p>
				<ul>
					<li style="list-style-type:none">Product Owner</li>
					<li style="list-style-type:none">Developpeur Back-end</li>
				</ul>
			</div>
			<div class="col">
				<h4>Alexandre RAVICHANDRAN</h4>
				<p>
					Github : AlexandreRavichandran
				</p>
				<ul>
					<li style="list-style-type:none">Lead Back end</li>
					<li style="list-style-type:none">Developpeur Back-end</li>
				</ul>
			</div>
			<div class="col">
				<h4>Mathieu GILLET</h4>
				<p>Github: mgillet-dev</p>
				<ul>
					<li style="list-style-type:none">Git Master</li>
					<li style="list-style-type:none">Developpeur Back-end</li>
				</ul>
			</div>

		</div>
        <h3 class="mt-5 mb-3 text-center">Front-end</h3>
		<div class="row text-center">
			<div class="col">
				<h4>Thomas MONNET</h4>
				<p>Github : ThomasMonnet
				</p>
				<ul>
					<li style="list-style-type:none">Scrum master</li>
					<li style="list-style-type:none">Developpeur Front-end</li>
				</ul>
			</div>
			<div class="col">
				<h4>Matthieu DIAS</h4>
				<p>Github : MatthD7
				</p>
				<ul class="list">
					<li style="list-style-type:none">Lead Front end</li>
					<li style="list-style-type:none">Developpeur Front-end</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
