{% extends 'back_office/backoffice_base.html.twig' %}


{% block body %}
	<div class="container">
	<h1 class="text-center mt-2"> Edit language </h1>
		<div class="example-wrapper">
			<div class="row mt-5 d-flex justify-content-center">
				<div class="col-4">
					{{form_start(form)}}
					{{form_row(form.name)}}
					<button class="btn btn-primary">Submit</button>
				</div>
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}
