{% extends 'back_office/backoffice_base.html.twig' %}


{% block body %}
	<div class="container">
		<h1 class="text-center mt-2">
			Add a new mood
		</h1>
		<div class="row justify-content-center">
			<div class="col-4">

				<div class="example-wrapper">
					{{form_start(form)}}
					{{form_row(form.name)}}
					{{form_row(form.categories)}}
				</div>
				<button class="btn btn-primary">Submit</button>
			</div>
			{{form_end(form)}}
		</div>
	</div>
{% endblock %}
